// Navigation code here
.navbar{
    background-color:@wild-sand;
    display:flex;
    flex-direction: column;
    h1{
        font-size:3.2rem;
        display:flex;
        justify-content: center;
        padding:0.5%;
    }
    nav{
        display:flex;
        justify-content: center;
        a{
            display:inline-flex;
            padding:1.5% 1.5% 1.5% 1.5%;
        }
    }
}
.btn {
    font-size: 150%;
    width: 27%;
    padding: 2.5% 0.5% 2.5% 0.5%;
    border-radius: 6%;
    background-color: #22283a;
    color: white;
    text-align: center;
}