// Navigation code here
.navbar{
    background-color:@wild-sand;
    .flex(center, column);
    display:flex;
    // justify-content: center;
    // flex-direction: column;
    h1{
        font-size:3.2rem;
        .flex(center, row);
        // display:flex;
        // justify-content: center;
        padding:0.5%;
    }
    nav{
        .flex(center, row);
        // display:flex;
        // justify-content: center;
        a{
            &:hover{
                background-color:black;
                color:white;
            }
            display:inline-flex;
            padding:1.5% 1.5% 1.5% 1.5%;
        }
    }
}
@media @mobile{
 .navbar{
     nav{
         .flex(space-around, row);
        // display:flex;
        // justify-content: space-around;
     }
     padding:2%;
        h1{
            font-size:325%;
        }
        a{
           font-weight: 700;
            font-size:150%;
            padding: 1.5% 3% 1.5% 3%;
            &:hover{
                background-color:black;
                color:white;
            }
        }
        margin:0% 15% 0% 15%;
        width:100%;
    }
}